.navbar-custom {
    background-color: #ffd801;
    border-color: #dfbd00;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffe034), to(#ffd801));
    background-image: -webkit-linear-gradient(top, #ffe034, 0%, #ffd801, 100%);
    background-image: -moz-linear-gradient(top, #ffe034 0%, #ffd801 100%);
    background-image: linear-gradient(to bottom, #ffe034 0%, #ffd801 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe034', endColorstr='#ffffd801', GradientType=0);
}
.navbar-custom .navbar-brand {
    color: #363030;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #1b1818;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #363030;
}
.navbar-custom .navbar-nav > li:last-child > a {
    border-right: 1px solid #dfbd00;
}
.navbar-custom .navbar-nav > li > a {
    color: #363030;
    border-left: 1px solid #dfbd00;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #c0c0c0;
    background-color: #dfbd00;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dfbd00), to(#ffdb13));
    background-image: -webkit-linear-gradient(top, #dfbd00, 0%, #ffdb13, 100%);
    background-image: -moz-linear-gradient(top, #dfbd00 0%, #ffdb13 100%);
    background-image: linear-gradient(to bottom, #dfbd00 0%, #ffdb13 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfbd00', endColorstr='#ffffdb13', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #dcba00;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #dfbd00;
    color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #363030;
    border-bottom-color: #363030;
}
@media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #363030;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c0c0c0;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c0c0c0;
        background-color: #dfbd00;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link {
    color: #363030;
}
.navbar-custom .navbar-link:hover {
    color: #c0c0c0;
}