<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />


    <!-- Load c3.css -->
    <link rel="stylesheet"  href="../static/c3/c3.js" type="text/css"/>


    <!-- Load d3.js and c3.js -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!--<script src="../static/c3/c3.min.js" th:src="@{../static/css/c3/c3.min.js}"></script>-->

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>


    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"/>


</head>
<body>

<nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" />
        </a>
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container-fluid" align="center">


    <br/>
    <!--Form-->
    <div class="row">
        <div class="col-md-12" >
            <form id="dropzone" method="post"  action="/upload" class="dropzone">
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-10" align="center"></div>
        <div class="col-md-1" align="center"></div>

    </div>
    <!--RS-->
    <br/>
    <div class="row">
        <div class="col-md-1" align="center"></div>

        <div class="col-md-6" align="left">
            <!--Genre-->
            <div class="row" id="genre"></div>
            <br/>

            <div class="row" id="tableContainer">
               
            </div>
        </div>
        <div class="col-md-5 " align="center">
            <div id="photos">


            </div>

        </div>
    </div>


</div>


<script>
    $(document).ready(function() {


        $(document).ready(function(){
            //$('#theme').DataTable();
        });

        //1.Wait till images are loaded
        //1.Wait till images are loaded
        /*var errors = false;

       var myDropzone = new Dropzone("#dropzone" , {

            success: function() {
              //this.on("addedfile", function(file) { alert("Added file."); });
              $.getJSON('/genre', function (data) {
                    console.log(data);
              });
            }
        });*/
        
        Dropzone.options.dropzone = {
            success: function() {
              //this.on("addedfile", function(file) { alert("Added file."); });
              $.getJSON('/genre', function (data) {

                  $.each(data.imageKeywords, function(index, obj){
                      if(obj.text=='beach' || obj.text=='ocean'){
                          $('#genre').append('<span class="label label-success">'+ obj.text +'</span>&nbsp;');
                          getTheme('beach');
                      }
                      else if(obj.text=='mountain'){
                          $('#genre').append('<span class="label label-success">'+ obj.text +'</span>&nbsp;');
                          getTheme('mountain');
                      }
                      else if(obj.text=='skiing'){
                          $('#genre').append('<span class="label label-success">'+ obj.text +'</span>&nbsp;');
                          getTheme('skiing');
                      }
                      else if(obj.text=='magic kingdom'){
                          $('#genre').append('<span class="label label-success">disney</span>&nbsp;');
                          getTheme('disney');
                      }
                      else
                          $('#genre').append('<span class="label label-default">'+ obj.text +'</span>&nbsp;');
                  });



              });

            }
        };


        function getTheme(theme){
            /*$.getJSON('/sabre/getTopDestinationsByTheme/'+theme, function (data) {
                $('#theme').append('<tr><th>Rank</th><th>Destination</th><th>Country</th><th>Region</th></tr>');
                $.each(data.Destinations, function(index, obj){
                    var cityName = obj.Destination.CityName;
                    if(cityName === null) {
                        cityName = obj.Destination.MetropolitanAreaName;
                    }
                    $('#theme').append('<tr ><td>'+ obj.Rank +'</td><td>'+ cityName
                    +'</td><td>'+ obj.Destination.CountryName +'</td><td>'+ obj.Destination.RegionName +'</td></tr>');
                });

            });*/
            $.ajax({
                  type: 'GET',
                  url: '/sabre/getTopDestinationsByTheme/'+theme,
                  dataType: 'json',
                  genre: theme,
                  success: function(data) {
                        htmlRows = "";
                        $.each(data.Destinations, function(index, obj){
                            var cityName = obj.Destination.CityName;
                            if(cityName === null) {
                                cityName = obj.Destination.MetropolitanAreaName;
                            }
                            htmlRows += ('<tr ><td>'+ obj.Rank +'</td><td>'+ cityName
                            +'</td><td>'+ obj.Destination.CountryName +'</td><td>'+ obj.Destination.RegionName +'</td></tr>');
                        });


                         var table = ' \
                                <table id='+this.genre+' class="table table-condensed"> \
                                    <thead> \
                                        <tr><th>Rank</th><th>Destination</th><th>Country</th><th>Region</th></tr> \
                                    </thead>\
                                    <tbody>\
                                        '+htmlRows+'\
                                    </tbody>\
                                </table> ';

                        var panel = '   \
                             <div class="panel panel-default">\
                             <div class="panel-heading">\
                            	<h1 class="panel-title text-center">#'+this.genre+'</h1>\
                             </div>\
                             <div class="panel-body">\
                            	'+table+'\
                             </div>\
                             </div>';


                        $("#tableContainer").append(panel);
                        $('#'+this.genre).DataTable();

                  },
                  error: function() {
                    alert('Error loading data=' + id);
                  }
            });
        }
        
        function getForecast(destination){
            $.getJSON('/sabre/getFareForecastByDestination/'+destination, function (data) {
                var recommendation = data.Recommendation;
                console.log('Recommendation for:' + destination + ' is: ' + recommendation);

            });
        }
    });
</script>


</body>
</html>